
#dumpInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #704241;
    border: 4px outset black;
    width: 65%;
    margin-right: 5px;
    margin-bottom: 20px;
    height: fit-content;
}

.discovery{
    padding: 40px;
}

#dumpInfo > img{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 100%;
    border: 1px solid black;
    max-height: 800px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #704241;
    border: 4px outset black;
}
.titleWrapper{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.contentWrapper{
    display: flex;
    width: 90%;
}

.wrapperForContentWrapper{
    display: flex;
    justify-content: center;
}

.reviewsdiv{
    grid-area: review;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #704241;
    border: 4px outset black;
    margin-left: 5px;
    height: fit-content;
    margin-bottom: 20px;
}

.reviewsdiv > div{
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
}

