/* TODO Add site wide styles */
#root{
    display: flex;
    height: 100vh;
    background-color: rgb(18, 124, 18);
    /* background-image: url('/public/images/dumpsterbackground.png'); */
    flex-direction: column;
    align-items: center;
}